* {
	margin:0;
	padding:0;
}
#sphereCanvas {
	position: absolute;
	top: 0px;
	left: 0px;
}
#mapCanvas {
	position: absolute;
	top: 0px;
	left: 410px;
}
#buttons {
	position: absolute;
	top: 220px;
	left: 410px;
}
#infos {
	position: absolute;
	top: 280px;
	left: 410px;
}
