* {
	margin:0;
	padding:0;
}
h1 {
	color: #000000;
	text-shadow: 5pt 5pt 1pt #BDBDBD;
	font-size: 20pt;
}
#leftBox {
	position: absolute;
	top: 3em;
	left: 1em;
	width: 400px;
	height: 480px;
}
#rightBox {
	position: absolute;
	top: 3em;
	left: 450px;
	width: 400px;
}
#desc {
	position: absolute;
	top: 40px;
	font-size: 10pt;
	left: 10px;
}
#titleDesc {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 50px;
}
#sphereTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 400px;
	height: 20px;
	background-color: #DDFFFF;
}
#sphereCanvas {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 400px;
	height: 400px;
}
#underDesc {
	position: absolute;
	top: 430px;
	left: 0px;
	font-size: 18pt;
	width: 400px;
	height: 24px;
	background-color: #DDDDDD;
}

#mapCanvas {
	position: absolute;
	top: 200px;
	left: 610px;
}

#buttons {
	position: absolute;
	top: 520px;
	left: 410px;
}
#infos {
	position: absolute;
	top: 580px;
	left: 410px;
	font-size: 10pt
}
#bottom {
	position: absolute;
	top: 610px;
	left: 10px;
	font-size: 9pt
}
#resultsDesc {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 30px;
}
#imageList {
	position: absolute;
	top: 3em;
	left: 0em;
	width: 400px;
	height: 420px;
	overflow-y: scroll;
	background-color: #DDDDFF;
}
#detailDesc {
	position: absolute;
	top: 540px;
	left: 20px;
}
.tableItem {
	width: 100px;
	height: 100px;
}

